<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" 
  "http://www.springframework.org/dtd/spring-beans.dtd"> 
  
 <beans>
     <bean id="sayHello"
         class="com.jason.SpringZk.SayHello">
         <constructor-arg type="java.lang.String">
             <value>Hello Calculator!!</value>
         </constructor-arg>
         <constructor-arg type="java.lang.Integer">
             <value>0</value>
         </constructor-arg>
     </bean>
     
      <bean id="bean1" class="com.jason.SpringZk.Tab2">
         <constructor-arg type="java.lang.String">
             <value>Hi this is Tab2</value>
         </constructor-arg>
         <property name="date"> 
            <bean id="dateBean" class="java.util.Date"/>
        </property>
        <property name="usersArray">
            <list>
                <ref bean="user1"/>
                <ref bean="user2"/>
                <ref bean="user3"/>
            </list>
        </property>
    </bean>
    
      <bean id="user1" class="com.jason.SpringZk.Users">
          <constructor-arg type="java.lang.String">
              <value>AA</value>
          </constructor-arg>
          <constructor-arg type="java.lang.Integer">
              <value>11</value>
          </constructor-arg>
      </bean>
       <bean id="user2" class="com.jason.SpringZk.Users">
          <constructor-arg type="java.lang.String">
              <value>BB</value>
          </constructor-arg>
          <constructor-arg type="java.lang.Integer">
              <value>22</value>
          </constructor-arg>
      </bean>
       <bean id="user3" class="com.jason.SpringZk.Users">
          <constructor-arg type="java.lang.String">
              <value>CC</value>
          </constructor-arg>
          <constructor-arg type="java.lang.Integer">
              <value>33</value>
          </constructor-arg>
      </bean>
    
 </beans>